body {

}

#container{
	margin-left:auto;
	margin-right:auto;
	width:970px;
	position:relative;
}

#left {
	width:502px;
}

#frame {
/*	z-index:2;*/
/*	position:absolute;*/
}

#top_hat {
/*	z-index:2;*/
/*	position:absolute;*/
	top:83px;
}

#senator_edouard {
	z-index:1;
/*	position:absolute;*/
	position:static;
}



#right {
	position:fixed;
	top:10px;
	left:250px;
}

ul.slideshow {
	text-align:center;
}

#slide1 {
	width:375px;
	height:650px;
	position:absolute;
	left:530px;
}

#next1 {
	position:absolute;
	top:580px;
	left:200px;
}

#slide2 {
	width:375px;
	height:650px;
	position:absolute;
	left:530px;
}

#prev2 {
	position:absolute;
	top:580px;
	left:35px;
}

#next2 {
	position:absolute;
	top:580px;
	left:200px;
}

#slide3 {
	width:375px;
	height:650px;
	position:absolute;
	left:530px;
}

#prev3 {
	position:absolute;
	top:580px;
	left:35px;
}

#next3 {
	position:absolute;
	top:580px;
	left:200px;
}

#slide4 {
	width:375px;
	height:650px;
	position:absolute;
	left:530px;
}

#prev4 {
	position:absolute;
	top:580px;
	left:35px;
}