body {
	margin-left:auto;
	margin-right:auto;
	width:877px;
}

#container{
/*	margin-left:auto;*/
	position:relative;
	text-align:left;
	margin-right:375px;
}

#left {
	width:502px;
	text-align:left;
}

#frame {
	z-index:2;
/*	position:absolute;*/
}

#top_hat {
	z-index:2;
/*	position:absolute;*/
	top:83px;
	left:0px;
}

#senator_edouard {
	z-index:1;
/*	position:absolute;*/
	position:static;
}

ul.slideshow {
	position:absolute;
	top:10px;
	text-align:center;
}

#slide1 {
	width:375px;
	height:685px;
	position:absolute;
	left:530px;
}

#next1 {
	position:absolute;
	top:630px;
	left:250px;
}

#slide2 {
	width:375px;
	height:685px;
	position:absolute;
	left:530px;
}

#top_hat_position_menu {
	position:absolute;
	top:553px;
	left:145px;
}

#prev2 {
	position:absolute;
	top:630px;
	left:20px;
}

#next2 {
	position:absolute;
	top:630px;
	left:250px;
}

#slide3 {
	width:375px;
	height:685px;
	position:absolute;
	left:530px;
}

#frame_position_menu {
	position:absolute;
	top:318px;
	left:145px;
}

#prev3 {
	position:absolute;
	top:630px;
	left:20px;
}

#next3 {
	position:absolute;
	top:630px;
	left:250px;
}

#slide4 {
	width:375px;
	height:685px;
	position:absolute;
	left:530px;
}

#top_hat_z-index_menu {
	position:absolute;
	top:452px;
	left:145px;
}

#frame_z-index_menu {
	position:absolute;
	top:518px;
	left:145px;
}


#prev4 {
	position:absolute;
	top:630px;
	left:20px;
}